html
  scroll-behavior: smooth

body
  font-family: 'AeonikPro', sans-serif
  font-weight: 400
  font-size: 18px
  min-width: 420px
  color: #242424
  background: #fff

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

input, button, select
  outline: none
  border: 0
  border-radius: 0

button
  cursor: pointer

input
  border-radius: 0
  background: transparent

.wrapper
  overflow: hidden
  width: 100%
  position: relative

.container
  max-width: 1280px
  padding: 0 10px
  width: 100%
  margin: 0 auto
  position: relative
  z-index: 5

.title
  font-size: 64px
  line-height: 44px
  font-weight: 400

.input
  height: 48px
  border: 0
  border-radius: 0
  background: transparent
  border-bottom: 1px solid rgba(255,255,255,.15)
  color: #fff
  padding: 0 20px
  font-size: 16px
  width: 100%
  @include placeholder
    color: rgba(255,255,255,.4)
  &.black
    border-color: rgba(0,0,0,.15)
    color: #05011d
    @include placeholder
      color: rgba(0,0,0,.4)

.btn
  line-height: 20px
  padding: 14px 18px
  border-radius: 15px
  color: #fff
  display: block
  background: linear-gradient(82deg, #0068FA 0%, #8C1FF9 102.57%), #D9D9D9

.checkbox
  display: block
  cursor: pointer
  input
    @include visually-hidden
    &:checked + p::before
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.69104 5.99997L5.23093 7.53921L8.30942 4.46072' stroke='white' stroke-width='1.13409' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
  p
    position: relative
    line-height: 12px
    font-size: 11px
    padding-left: 22px
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 12px
      height: 12px
      border: 1px solid #fff
      border-radius: 4px
      background-repeat: no-repeat
      background-position: center
    a
      border-bottom: 1px solid #fff
  &.black
    p::before, a
      border-color: #05011D
    input:checked + p::before
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.69104 5.99997L5.23093 7.53921L8.30942 4.46072' stroke='%2305011D' stroke-width='1.13409' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")

.popup
  display: none
  padding: 40px
  max-width: 500px
  border-radius: 20px
  color: #05011d
  h3
    font-size: 42px
    font-weight: 400
    margin-bottom: 10px
  h4
    font-size: 16px
    font-weight: 400
    line-height: 1.4
    max-width: 270px
  form
    width: 100%
    max-width: 420px
    @include flexbox
    align-items: flex-start
    flex-direction: column
    margin-top: 30px
    gap: 20px
    span
      @include flexbox
      align-items: flex-start
      flex-direction: column
      gap: 15px
