@media(max-width: 576px)
  .container
    max-width: 100%

  .hero-main__title h1
    font-size: 54px
    line-height: 38px
  .hero-main__title h2
    font-size: 14px
    margin-top: 15px
  .hero-top
    padding: 20px 0
    &__phone
      display: none
  .hero-main
    padding-top: 40px
  .hero-air__images
    height: 90px
    img
      width: 400px
      left: 0
      right: 0
      margin: 0 auto

  .calc-title h2
    font-size: 54px
    line-height: 38px
  .calc-title h3
    font-size: 14px
    margin-top: 15px

  .interior .title br
    display: block
  .calc-image
    height: 140px
    img
      width: 420px

  .promo
    &-slider
      height: 120px
      img
        height: 100%
        object-fit: cover
        object-position: center
    &-arrow
      display: none

  .calc-image
    height: 90px
