.calc
  padding-top: 90px
  overflow: hidden
  background: #05011d
  color: #fff
  .container
    @include flexbox
    align-items: flex-start
    &::before
      content: ''
      z-index: -1
      position: absolute
      top: -710px
      right: -590px
      width: 980px
      height: 980px
      background: #125FFA
      filter: blur(460px)
      border-radius: 100%
      backface-visibility: hidden
      will-change: transform
  &-title
    text-align: center
    margin-bottom: 60px
    width: 100%
    h2
      font-size: 100px
      line-height: 70px
      text-transform: uppercase
      letter-spacing: 0.25em
      font-weight: 400
      span
        &:nth-child(1)
          background: linear-gradient(269deg, #FFF 48.75%, rgba(36, 36, 36, 0.00) 119.47%)
          background-clip: text
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
        &:nth-child(2)
          background: linear-gradient(112deg, #0068FA 15.53%, #8C1FF9 59.1%, rgba(140, 31, 249, 0.00) 109.31%)
          background-clip: text
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
    h3
      font-size: 18px
      font-weight: 400
      line-height: 20px
      margin-top: 20px
  &-main
    width: 670px
    @include flexbox
    align-items: flex-start
    gap: 30px
    position: relative
    z-index: 30
  &-section
    flex: 1
    @include flexbox
    align-items: flex-start
    gap: 10px 12px
    position: relative
    p
      font-size: 16px
      color: #fafafa
      width: 100%
      opacity: 0.7
    &:nth-child(2n-1)
      width: 256px
      flex: initial
    .inline
      @include flexbox
      align-items: flex-start
      width: 100%
      gap: 10px
      p
        width: auto
  &-radio
    input
      @include visually-hidden
      &:checked + span
        background: #fff
        border-color: #fff
        color: #06031f
    span
      display: block
      padding: 11px 15px
      font-size: 14px
      line-height: 16px
      border: 1px solid #2C2941
      border-radius: 12px
      cursor: pointer
      transition: .25s
    &.onoff
      display: none
  &-total
    margin-top: 20px
    width: 256px
    padding: 15px 0
    @include flexbox
    align-items: center
    justify-content: space-between
    border-top: 1px solid #45455D
    border-bottom: 1px solid #45455D
    p
      font-size: 16px
      opacity: 0.7
    b
      font-weight: 700
      font-size: 18px
  &-image
    height: 300px
    margin-top: 40px
    width: 100%
    position: relative
    img
      position: absolute
      top: 0
      left: 50%
      right: 0
      margin: 0 auto
      max-width: initial
      transform: translateX(-50%)
      opacity: 0
      transition: .25s
      &.active
        opacity: 1
  &-shop
    margin-left: auto
    width: 560px
    padding: 50px
    border-radius: 20px
    border: 1px solid rgba(255, 255, 255, 0.22)
    background: linear-gradient(233deg, rgba(61, 54, 99, 0.50) 2.77%, rgba(25, 22, 40, 0.50) 71.53%)
    h3
      font-size: 34px
      font-weight: 400
      line-height: 1.3
    &__links
      @include flexbox
      align-items: flex-start
      gap: 12px
      margin-top: 20px
      position: relative
      z-index: 5
      li
        flex: 1
      a
        width: 100%
        height: 55px
        @include flexbox
        align-items: center
        justify-content: center
        border-radius: 16px
        border: 1px solid rgba(255, 255, 255, 0.15)
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          border-radius: 16px
          background: linear-gradient(82deg, #0068FA 0%, #8C1FF9 102.57%)
          z-index: -1
          opacity: 0
          transition: .25s
        &:hover::before
          opacity: 1

  &-form
    padding: 50px 40px
    border-radius: 20px
    border: 1px solid rgba(255, 255, 255, 0.10)
    background: linear-gradient(233deg, rgba(255, 255, 255, 0.60) 2.77%, rgba(94, 93, 100, 0.60) 71.53%)
    backdrop-filter: blur(56px)
    margin-left: auto
    max-width: 570px
    margin-bottom: -210px
    position: relative
    z-index: 20
    &__title
      font-size: 34px
      font-weight: 400
    form
      width: 100%
      max-width: 420px
      @include flexbox
      align-items: flex-start
      flex-direction: column
      margin-top: 30px
      gap: 20px
      span
        @include flexbox
        align-items: flex-start
        flex-direction: column
        gap: 15px
  &-info
    position: relative
    z-index: 100
    display: inline-block
    &__icon
      width: 14px
      height: 14px
      display: inline-block
      border-radius: 100%
      background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7' fill='%23FAFAFA' fill-opacity='0.7'/%3E%3Cpath d='M8.38998 2.33944C8.54368 2.49315 8.62053 2.68198 8.62053 2.90595C8.62053 3.12992 8.54368 3.31656 8.38998 3.46587C8.23627 3.61518 8.04744 3.68984 7.82347 3.68984C7.5995 3.68984 7.41286 3.61518 7.26355 3.46587C7.11424 3.31656 7.04178 3.12992 7.04617 2.90595C7.04617 2.68198 7.11863 2.49315 7.26355 2.33944C7.41286 2.18574 7.5995 2.10889 7.82347 2.10889C8.04744 2.10889 8.23627 2.18574 8.38998 2.33944ZM6.72998 6.10079C6.72998 5.79338 6.60921 5.63968 6.36768 5.63968C6.17006 5.63968 5.81435 5.75825 5.30054 5.99539V5.9361C5.56403 5.61552 5.88681 5.32568 6.26887 5.06658C6.65532 4.80309 7.01763 4.67134 7.35577 4.67134C7.83445 4.67134 8.07159 5.01388 8.0672 5.69896C8.0672 6.00198 8.03207 6.32915 7.9618 6.68047L7.36895 9.87531C7.32942 10.1081 7.30527 10.3079 7.29649 10.4748C7.29649 10.6372 7.32723 10.7602 7.38871 10.8436C7.45019 10.9227 7.54241 10.96 7.66538 10.9556C7.89374 10.9556 8.23408 10.8436 8.68641 10.6197L8.69958 10.6724C8.43609 10.9842 8.11551 11.2652 7.73784 11.5155C7.36456 11.7615 7.01104 11.8866 6.67728 11.891C6.1986 11.891 5.96146 11.5529 5.96585 10.8766C5.96585 10.5648 6.00099 10.231 6.07125 9.87531L6.66411 6.68047C6.70802 6.44333 6.72998 6.2501 6.72998 6.10079Z' fill='%23060321'/%3E%3C/svg%3E%0A") no-repeat center
    &__tooltip
      position: absolute
      z-index: 100
      top: -110px
      left: 30px
      @include flexbox
      align-items: flex-start
      padding: 40px
      gap: 40px
      width: calc(122px + 320px + 320px)
      opacity: 0
      pointer-events: none
      transform: translate(50px, 0)
      border-radius: 20px
      border: 1px solid rgba(255, 255, 255, 0.10)
      background: linear-gradient(233deg, rgba(255, 255, 255, 0.60) 2.77%, rgba(94, 93, 100, 0.60) 71.53%)
      backdrop-filter: blur(56px)
      transition: .25s
      &::before
        content: ''
        position: absolute
        top: 0
        left: -50px
        bottom: 0
        width: 50px
    &__text
      line-height: 1.25
      width: 320px
      h3
        font-size: 20px
        font-weight: 400
        margin-bottom: 20px
      p
        font-size: 14px
        opacity: 1
    &:hover
      .calc-info__tooltip
        pointer-events: auto
        opacity: 1
        transform: translate(0, 0)
