{% extends 'components/_layout.html' %}
{% set site_title = 'Lightera - Высокий уровень комфорта с заботой о вашем здоровье' %}

{% block content %}

<section class="hero">
  <video preload="" playsinline="" autoplay="" loop="" muted="">
    <source src="hero.mp4" type="video/mp4">
  </video>
  <div class="container">
    <div class="hero-top">
      <a href="/" class="hero-top__logo"><img src="img/svg/logo.svg" alt=""></a>
      <a href="tel:+74959250072" class="hero-top__phone">+7 495 925 00 72</a>
      <a href="javascript:;" data-fancybox data-src="#popup-call" class="hero-top__btn">Заказать звонок</a>
    </div>
    <div class="hero-main" data-aos="fade-up">
      <div class="hero-main__title">
        <h1><span>LIGHT</span><span>ERA</span></h1>
        <h2>Высокий уровень комфорта с заботой о вашем здоровье</h2>
      </div>
    </div>
    <div class="hero-air" data-aos="fade-up" data-aos-delay="150">
      <ul class="hero-air__switch">
        <li></li>
        <li class="active"></li>
        <li></li>
      </ul>
      <div class="hero-air__images">
        <img src="img/hero-air-1.png" alt="">
        <img src="img/hero-air-2.png" alt="" class="active">
        <img src="img/hero-air-3.png" alt="">
      </div>
      <div class="hero-air__info">
        <p><span>Наслаждайтесь свежим и чистым воздухом в любое время года.</span> Настройте комфортный микроклимат с кондиционерами Haier серии Lightera DC-Inverter!</p>
        <h3>От 35 400 ₽</h3>
        <a href="#calc">Перейти в каталог</a>
      </div>
    </div>
  </div>
</section>

<section class="promo">
  <div class="container">
    <div class="promo-slider" data-aos="fade-up" data-aos-offset="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/promo-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/promo-2.jpg" alt=""></div>
        <div class="swiper-slide black"><img src="img/promo-3.jpg" alt=""></div>
      </div>
      <div class="promo-arrow promo-prev"></div>
      <div class="promo-arrow promo-next"></div>
      <div class="promo-pagination"></div>
    </div>
  </div>
</section>

<section class="tech">
  <div class="container">
    <h3 class="tech-subtitle" data-aos="fade-up" data-aos-offset="100">Технические характеристики</h3>
    <h2 class="title" data-aos="fade-up" data-aos-offset="150">Особенности модельного ряда</h2>
    <div class="tech-slider" data-aos="fade-up" data-aos-offset="200">
      <div class="tech-arrow"></div>
      <div class="tech-swipe">
        <div class="path"></div>
        <div class="hand-icon"></div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide tech-item tech-item-1">
          <div class="tech-item__text">
            <h4>Поддерживает воздух чистым и здоровым</h4>
            <p>Фильтр задерживает и дезактивирует пылевых клещей, пыльцу, вирусы и бактерии.</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-1.png" alt="">
            <p>Антибактериальный фильтр</p>
          </div>
        </div>
        <div class="swiper-slide tech-item tech-item-2">
          <div class="tech-item__text">
            <h4>Управляйте с помощью смартфона или планшета</h4>
            <p>Технология управления по Wi-Fi позволяет управлять кондиционером или группой кондиционеров с помощью смартфона или планшета</p>
            <p>Модуль Wi-Fi приобретается отдельно.</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-2.png" alt="">
            <p>Удаленное управление по Wi-Fi</p>
          </div>
        </div>
        <div class="swiper-slide tech-item tech-item-3">
          <div class="tech-item__text">
            <h4>Управление створками с помощью пульта</h4>
            <p>Позволяет гибко выбирать направление воздушного потока в зависимости от расположения людей в помещении.</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-3.png" alt="">
            <p>Объемный воздушный поток</p>
          </div>
        </div>
        <div class="swiper-slide tech-item tech-item-4">
          <div class="tech-item__text">
            <h4>Ионизирует<br> молекулы воды уничтожая бактерии</h4>
            <p>За счет изменения их молекулярной структуры, а также формирует водяные микрочастицы, которые легко поглащаются кожей человека сохраняя ее влажность.</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-4.png" alt="">
            <p>Ионизация воздуха Nano-Aqua</p>
          </div>
        </div>
        <div class="swiper-slide tech-item tech-item-5">
          <div class="tech-item__text">
            <h4>Специальный<br> режим контролирует температуру воздуха в помещении</h4>
            <p>Для создания наиболее благоприятных условий для сна.</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-5.png" alt="">
            <p>Режим работы Комфортный сон</p>
          </div>
        </div>
        <div class="swiper-slide tech-item tech-item-6">
          <div class="tech-item__text">
            <h4>Комфортный и здоровый микроклимат<br> в доме или офисе</h4>
            <p>Обеспечивает подачу наружного воздуха, помогает создать комфортный и здоровый микроклимат в доме или офисе</p>
          </div>
          <div class="tech-item__icon">
            <img src="img/tech-icon-6.png" alt="">
            <p>Приток свежего воздуха (опция)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="safety">
  <div class="container">
    <div class="safety-head">
      <h2 class="title" data-aos="fade-up" data-aos-offset="100"><span>Современная защита</span> от вирусов и аллергенов</h2>
      <h3 class="safety-subtitle" data-aos="fade-up" data-aos-offset="150">Кондиционер оснащен надёжной системой фильтров и ультра-фиолетовой лампой, которая не оставит шансов бактериям, пыльце, пыли и другим вредным частицам.</h3>
    </div>
    <div class="safety-image" data-aos="fade-up" data-aos-offset="100">
      <div class="safety-plus">
        <div class="safety-plus__icon"></div>
        <div class="safety-plus__circle"></div>
        <div class="safety-plus__block"><img src="img/safety-plus.png" alt=""></div>
      </div>
    </div>
    <div class="safety-lightera" data-aos="fade-up" data-aos-offset="100">
      <div class="safety-lightera__main">
        <h2 class="title">Особенности серии LIGHTERA</h2>
        <ul class="safety-lightera__list">
          <li data-id="1" class="active">
            <i><img src="img/svg/safety-list-1.svg" alt=""></i>
            <p>Экономичность</p>
          </li>
          <li data-id="2">
            <i><img src="img/svg/safety-list-2.svg" alt=""></i>
            <p>Супертихая работа</p>
          </li>
          <li data-id="3">
            <i><img src="img/svg/safety-list-3.svg" alt=""></i>
            <p>Элегантный дизайн</p>
          </li>
        </ul>
      </div>
      <div class="safety-lightera__cards">
        <div class="safety-lightera__item active" data-id="1">
          <div class="safety-lightera__text">
            <small>Экономичность</small>
            <img src="img/safety-1.png" alt="">
            <h5>Благодаря технологии<br> DC-Inverter</h5>
            <p>кондиционер подстраивает скорость работы компрессора под текущую температуру в помещении, снижая энергопотребление до 60% по сравнению с обычными моделями.</p>
          </div>
        </div>
        <div class="safety-lightera__item" data-id="2">
          <div class="safety-lightera__text">
            <small>Супертихая работа</small>
            <video preload="" playsinline="" autoplay="" loop="" muted="">
              <source src="ring.mp4" type="video/mp4">
            </video>
            <h5>Кондиционер работает практически бесшумно</h5>
            <p>не мешая вам спать или работать. Уровень шума не превышает 23 дБ(А), что соответствует шепоту человека.</p>
          </div>
        </div>
        <div class="safety-lightera__item" data-id="3">
          <div class="safety-lightera__text">
            <small>Элегантный дизайн</small>
            <img src="img/safety-3.png" alt="">
            <h5>Стильный и современный внешний вид</h5>
            <p>который подойдет к любому интерьеру. Вы можете выбрать один из трех цветов: белый, тёмный графит или золотой. Под внешней панелью внутреннего блока скрывается LED-дисплей, который отображает рабочие параметры и режимы работы.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="safety-form" data-aos="fade-up" data-aos-offset="100">
      <div class="safety-form__head">
        <h2>Оставьте заявку</h2>
        <p>Менеджер свяжется с вами в течение 30 минут и проконсультирует по любым вопрсам</p>
      </div>
      <form action="#" method="post">
        <input type="text" name="name" class="input" placeholder="Введите ваше имя" />
        <input type="email" name="email" class="input" placeholder="Введите ваш e-mail" />
        <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___ _____" required />
        <span>
          <button class="btn">Заказать звонок</button>
          <label class="checkbox">
            <input type="checkbox" required checked />
            <p>Я согласен с <a href="https://haieronline.ru/content/konfidentsialnost-personalnoy-informatsii/" target="_blank">политикой конфиденциальности</a></p>
          </label>
        </span>
      </form>
    </div>
  </div>
</section>

<section class="interior">
  <div class="container">
    <h3 class="interior-subtitle" data-aos="fade-up" data-aos-offset="100">LIGHTERA в интерьере</h3>
    <h2 class="title" data-aos="fade-up" data-aos-offset="150"><span>Элегантность</span><br> в каждой детали</h2>
    <div class="interior-slider" data-aos="fade-up" data-aos-offset="200">
      <div class="interior-arrow"></div>
      <div class="interior-swipe">
        <div class="path"></div>
        <div class="hand-icon"></div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/interior-1.jpg" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="img/interior-2.jpg" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="img/interior-3.jpg" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="img/interior-4.jpg" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="img/interior-5.jpg" alt="" loading="lazy"></div>
      </div>
    </div>
  </div>
</section>

<section class="evo">
  <div class="container">
    <div class="evo-head" data-aos="fade-up" data-aos-offset="100">
      <h2>EVO</h2>
      <h3>Wi-Fi-модуль<br> от Haier</h3>
    </div>
    <h3 class="evo-subtitle" data-aos="fade-up" data-aos-offset="150">Подключите Wi-Fi модуль и сделайте использование техники удобнее</h3>
    <h4 class="evo-warning" data-aos="fade-up" data-aos-offset="200">Приобретается отдельно</h4>
    <div class="evo-grid">
      <div class="evo-item evo-item-white" data-aos="fade-up" data-aos-offset="100">
        <p>Управляйте климатом со смартфона, планшета или ПК в один клик</p>
        <img src="img/evo-1.png" alt="">
      </div>
      <div class="evo-item evo-item-white" data-aos="fade-up" data-aos-offset="100">
        <p>Запоминайте любимые режимы работы в быстрые команды</p>
        <img src="img/evo-2.png" alt="">
      </div>
      <div class="evo-item evo-item-white" data-aos="fade-up" data-aos-offset="100">
        <p>Настраивайте расписания или таймер, чтобы не думать о лишнем</p>
        <img src="img/evo-3.png" alt="">
      </div>
      <div class="evo-item evo-item-yandex" data-aos="fade-up" data-aos-offset="100">
        <p>Подключите Яндекс.Станцию и пользуйтесь кондиционером с помощью голосовых команд</p>
      </div>
      <div class="evo-col">
        <div class="evo-item evo-item-sleep" data-aos="fade-up" data-aos-offset="100">
          <p>Благоприятные условия для сна благодаря запрограммированному сценарию</p>
        </div>
        <div class="evo-download" data-aos="fade-up" data-aos-offset="100">
          <div class="evo-download__markets">
            <p>Скачивайте приложение</p>
            <a href="https://apps.apple.com/ru/app/evo-%D0%BA%D0%BB%D1%83%D0%B1-%D0%BF%D1%80%D0%B8%D0%B2%D0%B8%D0%BB%D0%B5%D0%B3%D0%B8%D0%B9-%D0%BE%D1%82-haier/id1542043377" target="_blank"><img src="img/svg/appstore.svg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=ru.haier.app" target="_blank"><img src="img/svg/googleplay.svg" alt=""></a>
          </div>
          <img src="img/evo-qr.png" alt="" class="evo-download__qr">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="calc" id="calc">
  <div class="container">
    <div class="calc-title">
      <h2 data-aos="fade-up" data-aos-offset="100"><span>LIGHT</span><span>ERA</span></h2>
      <h3 data-aos="fade-up" data-aos-offset="100">Почувствуйте тишину и комфорт</h3>
    </div>
    <form action="javascript:;" class="calc-main" data-aos="fade-up" data-aos-offset="100">
      <div class="calc-section">
        <div class="inline">
          <p>Модель</p>
          <div class="calc-info">
            <div class="calc-info__icon"></div>
            <div class="calc-info__tooltip">
              <div class="calc-info__text">
                <h3>Принцип работы ON-OFF кондиционеров:</h3>
                <p>Обычные кондиционеры всегда работают с постоянной мощностью, действуя по схеме «включение — выключение»: как только сплит-система охладила комнату до установленной температуры, она выключает компрессор и, соответственно, останавливает процесс охлаждения, а затем снова включает его при повышении температуры на 1–2 °C. Циклы включения и выключения повторяются вновь и вновь.</p>
              </div>
              <div class="calc-info__text">
                <h3>Принцип работы инверторных кондиционеров:</h3>
                <p>Отличие инверторного кондиционера от обычного заключается в том, что при достижении установленной температуры кондиционер с инвертором не отключается, а снижает мощность и поддерживает температуру на заданном уровне постоянно. Из-за этого температура в помещении меняется плавно, без резких перепадов и рисков простуды. Как следствие, такие кондиционеры более энергоэффективны, что позволяет значительно экономить на счетах за электроэнергию.</p>
              </div>
            </div>
          </div>
        </div>
        <label class="calc-radio">
          <input type="radio" name="model" value="1" />
          <span>On / Off</span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="model" value="2" checked />
          <span>DC-Inverter</span>
        </label>
      </div>
      <div class="calc-section">
        <p>Обслуживаемая площадь</p>
        <label class="calc-radio onoff">
          <input type="radio" name="area" value="3" />
          <span>20 м<sup>2</sup></span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="area" value="1" checked />
          <span>25 м<sup>2</sup></span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="area" value="2" />
          <span>35 м<sup>2</sup></span>
        </label>
        <label class="calc-radio onoff">
          <input type="radio" name="area" value="4" />
          <span>50 м<sup>2</sup></span>
        </label>
        <label class="calc-radio onoff">
          <input type="radio" name="area" value="5" />
          <span>70 м<sup>2</sup></span>
        </label>
      </div>
      <div class="calc-section">
        <p>Цвет корпуса</p>
        <label class="calc-radio white">
          <input type="radio" name="color" value="1" checked />
          <span>Белый</span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="color" value="2" />
          <span>Графит</span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="color" value="3" />
          <span>Золото</span>
        </label>
      </div>
      <div class="calc-section">
        <p>Опции</p>
        <label class="calc-radio">
          <input type="radio" name="option" value="1" checked />
          <span>Без опций</span>
        </label>
        <label class="calc-radio">
          <input type="radio" name="option" value="2" />
          <span>WI-FI управление</span>
        </label>
      </div>
      <div class="calc-total">
        <p>Итоговая цена</p>
        <b><span class="price"></span> ₽</b>
      </div>
    </form>
    <div class="calc-form" data-aos="fade-up" data-aos-offset="100">
      <h2 class="calc-form__title">Оставьте заявку и менеджер проконсультирует вас по любым вопросам</h2>
      <form action="#" method="post">
        <input type="text" name="name" class="input" placeholder="Введите ваше имя" />
        <input type="email" name="email" class="input" placeholder="Введите ваш e-mail" />
        <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___ _____" required />
        <span>
          <button class="btn">Заказать звонок</button>
          <label class="checkbox">
            <input type="checkbox" required checked />
            <p>Я согласен с <a href="https://haieronline.ru/content/konfidentsialnost-personalnoy-informatsii/" target="_blank">политикой конфиденциальности</a></p>
          </label>
        </span>
      </form>
    </div>
    <div class="calc-image" data-aos="fade-up" data-aos-offset="100">
      <img src="img/white.png" alt="" class="calc-white active">
      <img src="img/gold.png" alt="" class="calc-gold">
      <img src="img/black.png" alt="" class="calc-black">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <img src="img/svg/logo.svg" alt="" class="footer-logo">
      <p class="footer-desc">© 2024 Haier Inc. Все авторские права защищены.<br> ООО «Профессионал Климата» ИНН 7720264306 КПП 772001001 ОГРН 1027739432346</p>
      <ul class="footer-links">
        <li><a href="https://haieronline.ru/content/usloviya-ispolzovaniya/" target="_blank">Условия использования сервиса</a></li>
        <li><a href="https://haieronline.ru/content/konfidentsialnost-personalnoy-informatsii/" target="_blank">Политика обработки персональных данных</a></li>
        <li><a href="https://haieronline.ru/content/programma-loyalnosti-haier-premium/" target="_blank">Программа лояльности Haier Premium</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <p>Остались вопросы?<br> Позвоните или напишите нам</p>
      <p>Москва и МО</p>
      <a href="tel:+74959250072">+7 495 925 00 72</a>
      <p>09:00 - 22:00 Мск</p>
      <a href="javascript:;" data-fancybox data-src="#popup-call" class="footer-btn">Заказать звонок</a>
    </div>
  </div>
</footer>

{% endblock %}